<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <import resource="classpath:applicationContext-services.xml"/>

   	<bean id="testDataSource"         
   		class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        
        <property name="maxIdle" value="30"/>
        <property name="maxActive" value="50"/>
        <property name="minEvictableIdleTimeMillis" value="10000" />
        <property name="testWhileIdle" value="true" />
    </bean>
    
    <!-- =================================================================== -->
	<!-- Mail: Sender and Velocity configuration                             -->
	<!-- =================================================================== -->
		
	<bean id="wiser"
		class="org.subethamail.wiser.Wiser">
		<property name="port" value="2525"/><!-- 2525 + (int) (Math.random() * 100) -->
	</bean>
	
	<bean id="mailEngine"
		class="com.twentyat.mail.MailEngine">
		<property name="mailSender" ref="mailSender" />
		<property name="velocityEngine" ref="velocityEngine" />
		<property name="from" value="bipin@techingen.com" />
		<property name="to" value="bipin@techingen.com" />
	</bean>

	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="gmail.com" />
	      <property name="port" value="2525" />
		<!-- Uncomment if you need to authenticate with your SMTP Server -->
		<property name="username" value="bipin@techingen.com"/>
			<property name="password" value=""/>
			<property name="javaMailProperties">
			<value>
				mail.smtp.auth=true
			</value>
			</property>
	</bean>

	<!-- Configure Velocity for sending e-mail -->
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader">class</prop>
				<prop key="class.resource.loader.class">
					org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
				</prop>
				<prop key="velocimacro.library"></prop>
			</props>
		</property>
	</bean>

	<bean id="mailMessage"
		class="org.springframework.mail.SimpleMailMessage"
		scope="prototype">
		<property name="from" value="bipin@techingen.com" />
		<property name="to" value="bipin@techingen.com" />
	</bean>
	
	<bean  id="twnetyAtServiceTest" class="com.twentyat.service.impl.TwentyAtServiceTest">
		<property name="twentyAtService" ref="twentyAtService"></property>
	</bean>
</beans>
