<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Core TestNG Unit Tests" verbose="1">

	<test name="user">
		<parameter name="userid_get" value="54632878-bdeb-4d30-91cb-4c794f1ca68c" />

		<classes>
			<class name="com.twentyat.service.impl.TwentyAtServiceTest" />
		</classes>
	</test>

</suite>
